# =======================================================
# Игнорировать скомпилированные артефакты (будут созданы
# внутри контейнера на этапе сборки)
target/

# =======================================================
# Игнорировать специфичные файлы/папки для среды разработки
.idea/
.mvn/
logs/
uploads/
UseCases/
sql/

# =с======================================================
# Игнорировать обвязки Maven (используется Maven из базового образа)
mvnw
mvnw.cmd

# =======================================================
# Игнорировать Git и другие метаданные
.git
.gitignore
.gitattributes
*.iml
*.iws
*.ipr
.env